.card--section
    border: none
    background-color: transparent

    .card-header
        padding-top: 1.25rem
        padding-bottom: 1.25rem
        font-weight: lighter
        font-size: 1.25rem
        background-color: transparent
        border-bottom: none

    .card-table,
    .card-body
        border-radius: $card-border-radius
        box-shadow: rgba($black, .075) 0 0 1rem
        background-color: $card-bg
