.form-text
    font-size: 0.875rem

.input-group.is-invalid ~ .invalid-feedback
    display: block

.custom-file
    width: 100%

    .custom-file-input
      width: 100%

.v-select .selected-tag
    border: none !important
    background-color: transparent !important
