
// Body
$body-bg: #f5f8fa;

// Brands
$brand-success: #2ab27b;

// Typography
$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
$font-family-sans-serif: "Roboto", sans-serif;
$text-color: #636b6f;

// Inputs
$input-border: lighten($text-color, 40%);
$input-color-placeholder: lighten($text-color, 30%);
