
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Application
@import "table";
@import "form";
@import "card";
@import "navbar";
@import "element";
@import "vselect";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.main-footer {
    background-color: #eef1f6;
}
